html, body, #root, main{
  height: 100%;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MuiAppBar-positionStatic-5{
  position: relative !important;
}

#map{
  position: relative;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 350px;
  background-color: #f5f5f5;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

div[class*="MuiCard-root"]{
  margin-bottom: 16px;
}



.bar {
  fill: #4682B4;
}

.bar:hover {
  fill:#386890;
}

.axis--y path {
  display: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  display: none;
}
